#contact-images
  .featured-image-block-grid
    .row.large-up-4.small-up-2
      .featured-image-block.column
        a(href='#')
          img(src='./public/images/dji_0054.jpg')
          p.text-center.featured-image-block-title 
      .featured-image-block.column
        a(href='#')
          img(src='./public/images/dji_0060.jpg')
          p.text-center.featured-image-block-title 
      .featured-image-block.column
        a(href='#')
          img(src='./public/images/dji_0062.jpg')
          p.text-center.featured-image-block-title 
      .featured-image-block.column
        a(href='#')
          img(src='./public/images/dji_0051.jpg')
          p.text-center.featured-image-block-title 
      .featured-image-block.column
        a(href='#')
          img(src='./public/images/img_1062.jpg')
          p.text-center.featured-image-block-title  
      .featured-image-block.column
        a(href='#')
          img(src='./public/images/img_1066.jpg')
          p.text-center.featured-image-block-title 
      .featured-image-block.column
        a(href='#')
          img(src='./public/images/img_1064.jpg')
          p.text-center.featured-image-block-title 
      .featured-image-block.column
        a(href='#')
          img(src='./public/images/img_1061.jpg')
          p.text-center.featured-image-block-title 