#contact-images
  .featured-image-block-grid
    .row.large-up-4.small-up-2
      .featured-image-block.column
        a(href='#')
          img(src='./public/images/DJI_0054.JPG')
          p.text-center.featured-image-block-title 
      .featured-image-block.column
        a(href='#')
          img(src='./public/images/DJI_0060.JPG')
          p.text-center.featured-image-block-title 
      .featured-image-block.column
        a(href='#')
          img(src='./public/images/DJI_0062.JPG')
          p.text-center.featured-image-block-title 
      .featured-image-block.column
        a(href='#')
          img(src='./public/images/DJI_0051.JPG')
          p.text-center.featured-image-block-title 
      .featured-image-block.column
        a(href='#')
          img(src='./public/images/IMG_1062.JPG')
          p.text-center.featured-image-block-title  
      .featured-image-block.column
        a(href='#')
          img(src='./public/images/IMG_1066.JPG')
          p.text-center.featured-image-block-title 
      .featured-image-block.column
        a(href='#')
          img(src='./public/images/IMG_1064.JPG')
          p.text-center.featured-image-block-title 
      .featured-image-block.column
        a(href='#')
          img(src='./public/images/IMG_1061.JPG')
          p.text-center.featured-image-block-title 