#contact
  section.marketing-site-three-up
    h2.marketing-site-features-headline Contact
    p.marketing-site-features-subheadline
      | We would love to hear from you. Contact us today!
    .row.medium-unstack
      .columns
        i.fa.fa-phone(aria-hidden='true')
        h4.marketing-site-three-up-title Phone
        a.marketing-site-three-up-desc(link="tel:256-442-2882") (256) 442-2882
      .columns
        i.fa.fa-envelope(aria-hidden='true')
        h4.marketing-site-three-up-title Email
        a(class="marketing-site-three-up-desc", link="mailto:regionalwarehousing@gmail.com") regionalwarehousing@gmail.com
      .columns
        i.fa.fa-map-marker(aria-hidden='true')
        h4.marketing-site-three-up-title Business Address
        p.marketing-site-three-up-desc
          | 3525 Mountain View Dr - Gadsden, AL 35907
