#features-two
  .marketing-site-content-section
    .marketing-site-content-section-img
      img(src='./public/images/dji_0060.jpg', alt='')
    .marketing-site-content-section-block
      h3.marketing-site-content-section-block-header Moving Supplies
      p
        | Need supplies to simplify your move? We provide boxes and packing supplies to cover your needs.
    .marketing-site-content-section-block.small-order-2.medium-order-1
      h3.marketing-site-content-section-block-header Camper Storage
      p
        | We provide camper storage for $40.00 per month and coming soon RV storage will be available.
    .marketing-site-content-section-img.small-order-1.medium-order-2
      img(src='./public/images/dji_0062.jpg', alt='')

