.marketing-site-features
  h2.marketing-site-features-headline Top Quality Features
  p.marketing-site-features-subheadline
    | Clean, secure, and well maintained facilities. That is our commitment to you.
  .row
    .small-12.medium-3.columns
      i.fa.fa-snowflake(aria-hidden='true')
      h4.marketing-site-features-title Climate Controlled Units
      p.marketing-site-features-desc No matter the time of year, your items stay protected in our climate controlled facilities.
    .small-12.medium-3.columns
      i.fa.fa-lock(aria-hidden='true')
      h4.marketing-site-features-title Gated and Fully Fenced
      p.marketing-site-features-desc All of our storage facilities are fully fenced and gated to insure your valuables stay safe.
    .small-12.medium-3.columns
      i.fa.fa-key(aria-hidden='true')
      h4.marketing-site-features-title Keypad Entry
      p.marketing-site-features-desc Access your valuables at your convenience while keeping them safe with our keypad entry.
    .small-12.medium-3.columns
      i.fa.fa-shield-alt(aria-hidden='true')
      h4.marketing-site-features-title Security Cameras
      p.marketing-site-features-desc Our facilities are monitored 24/7 with our security camera system. 
