.three-column-footer-contact-form-container
  footer.three-column-footer-contact-form(data-equalizer='', data-equalize-by-row='true')
    .footer-left(data-equalizer-watch='')
      .baseline
        .contact-details
          h6 Contact details
          p
            i.fa.fa-phone.fa-lg(aria-hidden='true')
            |  (256) 442-2882
          p
            a(href='#')
              i.fa.fa-envelope(aria-hidden='true')
              |  regionalwarehousing@gmail.com
          p
            i.fa.fa-map-marker.fa-lg(aria-hidden='true')
            |  3525 Mountain View Dr - Gadsden, AL 35907
    .footer-right(data-equalizer-watch='')
      .baseline
        img.thumbnail(src='./public/images/skyshot_tn.jpg')
        h6 Business Hours
        p Mon - Fri 7:00am - 10:00pm
        