.hero-full-screen
  .top-content-section
    .top-bar
      .top-bar-left
        ul.menu
          li
            a(href="#") Regional Warehousing & Mini Storage
      .top-bar-right
        ul.menu
          li
            a(href="/") Home
          li
            a(href='/sizes.html') Unit Sizes
          li.menu-text
            a(href="/location.html") Location
          li
            a(href='/contact.html') Contact
          
  .middle-content-section
    h1 Regional Warehousing & Mini Storage
    p Serving Southside, Gadsden, and Rainbow City for 10 years. 
  .bottom-content-section(data-magellan='', data-threshold='0')
    a(href='#main-content-section')
      svg(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewbox='0 0 24 24')
        path(d='M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z')
#main-content-section(data-magellan-target='main-content-section')
  // your content goes here