.top-bar-container(data-sticky-container='')
  .top-bar
    .top-bar-left
      ul.menu
        li
          a(href="#") Regional Warehousing & Mini Storage
    .top-bar-right
      ul.menu
        li
          a(href="/") Home
        li
          a(href='/sizes.html') Unit Sizes
        li.menu-text
          a(href="/location.html") Location
        li
          a(href='/contact.html') Contact
