.reviews
  h2.marketing-site-features-headline What People Are Saying
  .grid-container
    .grid-x.grid-padding-x
      .cell.large-4.review-block
        .testimonial-block-vertical
          .testimonial-block-vertical-quote
            p
              | My wife and I have had up to 5 units for the past 3 years. Great security. Easy 24 hour access. A painless experience with great communication. Top recommendation I can give.
          .testimonial-block-vertical-person
            img.testimonial-block-vertical-avatar(src='./public/images/g.jpg', alt='')
            div
              p.testimonial-block-vertical-name Grant W.
              p.testimonial-block-vertical-info 5 Star Yelp Review
      .cell.large-4.review-block
        .testimonial-block-vertical
          .testimonial-block-vertical-quote
            p
              | We rented two 10 x 20 climate controlled units.  These are the cleanest storage units you will find in the area.  We swept both units out today after they were emptied and barely got a handful of dust out.  The manager always returns phone calls if you have a question. They were warm during the winter months and cool during the warm months.  We can't say enough good things about these units.
          .testimonial-block-vertical-person
            img.testimonial-block-vertical-avatar(src='./public/images/k.jpg', alt='')
            div
              p.testimonial-block-vertical-name Kim Grape
              p.testimonial-block-vertical-info 5 Star Google Review
      .cell.large-4.review-block
        .testimonial-block-vertical
          .testimonial-block-vertical-quote
            p
              | The nicest, cleanest storage facility we have ever seen. Very safe, secure and well managed. Love the climate control.
          .testimonial-block-vertical-person
            img.testimonial-block-vertical-avatar(src='./public/images/j.jpg', alt='')
            div
              p.testimonial-block-vertical-name Jeanne Peterson
              p.testimonial-block-vertical-info 5 Star Google Review 

