extends ./layouts/layout.pug

block content
  include partials/full-hero.pug
  include partials/features.pug
  include partials/features-two.pug
  include partials/reviews.pug
  include partials/footer.pug